<nav class="menu">
  <img src="/images/favico.png" alt="Pokemon logo" id="navImage"/>
  <a href="/" id="title"> <img src="images/807552d58592f4c4b9f6fa4b43fd08d7.png" alt="pokemon" class="logo1"> </a>
  <a href="/" id="title2"><img src="images/059d97b0862fb016a221124825ee0a1b.png" alt="cards" class="logo2"> </a>
    <!-- <li id = "firstPartMenu">Menu</li> -->
    <li id="secondPartMenu">Regions</li>
    <li id="thirdPartMenu">Deck Cards</li>
    <li id="forthPartMenu">Store</li>
    <!-- <div id = "firstPartMenu">
      <li>Menu</li>
      <li>Regions</li>
    </div>
    <div id = "secondPartMenu">
      <li>Store</li>
      <li>Decks</li> -->
    </div>
  </div>
</nav>
